* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #fff;
    color: #1b1b1b;
    padding: 0 70px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.user {
    margin-top: 40px;
    display: flex;
    /* align-items: center; */
    gap: 15px;
}

.user span {
    margin-top: 10px;
    font-size: 14px;
    color: #008080;
    font-weight: 500;
}

.btn-sair {
    background: #1abc9c;
    color: white;
    border: none;
    height: 40px;
    padding: 6px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #008080;
}

.card {
    border: 1px solid #1abc9c;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 30px;
}

.saldo {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.saldo h2 {
    font-size: 48px;
    color: #008080;
    margin-bottom: 8px;
}

.saldo p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

.saldo .esquerda{
    width: 50%;
}

.saldo .btns {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
}

.btn {
    background: #009688;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.btn:nth-child(2) {
    background: #1abc9c;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.tabela th,
.tabela td {
    text-align: left;
    padding: 10px 5px;
    font-size: 14px;
}

.tabela th {
    font-weight: 600;
    border-bottom: 1px solid #1abc9c;
    color: #444;
}

.tabela td {
    color: #333;
}

.detalhes {
    background: #008080;
    color: #fff;
    border: none;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
}

h2.section-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #008080;
}