/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: #EDF2F5;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    width: 100%;
    position: relative;
    display: flex;
}

header .banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    flex: auto-fit;
}

header .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Nav */
nav.nav {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: white;
    border-radius: 50px;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.nav .logo img {
    width: 14vw;
    height: auto;
}

.nav .profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile img {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
}

.profile p {
    font-size: 1.1vw;
}

.profile button {
    font-size: 1.1vw;
    border: none;
    width: 5vw;
    height: 40px;
    border-radius: 50px;
    background-color: #22BDB6;
    color: white;
    cursor: pointer;
}

/* Main */
main.container {
    width: 90%;
    margin: 60px auto;
}

.nome-estudante {
    font-weight: 400;
    font-size: 3rem;
    color: #009b9e;
    margin-bottom: 30px;
}

/* Senhas Section */
.senhas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border: 1px solid #009b9e;
    border-radius: 20px;
    padding: 20px 40px;
    flex: 1;
    min-height: 140px;
}

.quantidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quantidade h2 {
    font-weight: 500;
    font-size: 4rem;
    color: #009b9e;
}

.quantidade p {
    text-align: center;
    font-size: 1.5rem;
    color: #009b9e;
    font-weight: 400;
}

/* Buttons */
.botoes {
    width: 40%;
    height: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.botoes button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;  
    text-align: center;
}

.botoes button:hover {
    background-color: #22bdb5ba;
}

.botoes .comprar-senhas {
    background-color: #009b9e;
}

.botoes .ver-historico {
    background-color: #22BDB6;
}

/* QR Code */
.qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.qrcode img {
    width: 100px;
    height: 100px;
}

.btn-cardapio {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #009b9e;
}

.qrcode .btn-cardapio:hover {
    background-color: #00b2b6;
}

.btn-cardapio a {
    text-decoration: none;
    color: white;
}

/* Footer */
footer {
    width: 100%;
}

.footer {
    background-color: #009b9e;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer .logo {
    width: 200px;
    height: 60px;
}

.footer .texto {
    color: white;
    display: flex;
    flex-direction: column;
}

.footer .texto a {
    text-decoration: none;
    color: white;
}

.footer .politica-dados a {
    text-decoration: underline;
}

.footer .nome-utilizador a {
    text-decoration: underline;
}

.footer .manual span{
    text-decoration: underline;
}

.footer .social img {
    width: 50px;
    height: 50px;
}

/* Modals */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: rgb(255, 255, 255);
    padding: 40px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-content .btn-cancelar.primeiro {
    display: flex;
    align-items: start;
    background-color: #009697;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
    margin: 0 0 20px 0;
    font-size: 1em;
}

.modal-content h3 {
    font-size: 20px;
    font-weight: 500;
    color: #009697;
    margin-top: 0;
    margin-bottom: 20px;
}

.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image-upload label {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #EDF2F5;
    border: 3px solid #00b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image-upload label:hover {
    opacity: 0.9;
}

.camera-icon {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

#file-input {
    display: none;
}

.modal-content .btn-confirmar {
    background-color: #22BDB6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.modal-content .btn-cancelar {
    background-color: white;
    color: #22BDB6;
    border: 2px solid #22BDB6;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

/* Responsividade */

/* Tablets */
@media (max-width: 992px) {
    .banner {
        display: none;
    }

    header {
        margin-bottom: 100px;
    }

    nav.nav {
        height: auto;
    }

    .nav .logo img {
        width: 25vw;
    }

    .profile p {
        font-size: 1rem;
    }

    .nome-estudante {
        font-size: 2.3rem;
        text-align: center;
    }

    .senhas {
        flex-direction: column;
        gap: 40px;
    }

    .box {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .botoes {
        width: 100%;
    }

    .botoes a{
        padding: 20px;
    }
}

/* Smartphones */
@media (max-width: 768px) {
    .profile img {
        width: 60px;
        height: 60px;
    }

    .profile p,
    .profile button {
        font-size: 1rem;
    }

    .senhas {
        flex-direction: column;
        gap: 40px;
    }

    .box {
        flex-direction: column;
        gap: 20px;
    }

    .botoes {
        width: 100%;
        gap: 15px;
        padding: 30px;
    }

    .qrcode {
        margin-top: 20px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer .social img {
        width: 35px;
        height: 35px;
    }
}

/* Motos & Small Devices */
@media (max-width: 480px) {
    .nome-estudante {
        font-size: 1.9rem;
    }

    .quantidade h2 {
        font-size: 2.8rem;
    }

    .quantidade p {
        font-size: 1.1rem;
    }

    .botoes button {
        height: 40px;
        font-size: 0.9rem;
    }

    .botoes {
        width: 100%;
        padding: 30px;
    }

    .footer .logo {
        width: 150px;
        height: auto;
    }

    .qrcode img {
        width: 80px;
        height: 80px;
    }
}
