/* Reset básico */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

/* Background principal */
.main-bg {
display: flex;
flex-direction: column;
min-height: 100vh;
background: linear-gradient(135deg, #22BDB6, #006b6b);
align-items: center;
justify-content: center;
padding: 20px;
}

/* Header */
.header {
position: absolute;
top: 0px;
left: 0px;
}

.header img {
  margin: 20px 20px;
width: 40%;
height: auto;
}

/* Card principal */
.main-card {
display: flex;
width: 80%;
max-width: 900px;
background: rgb(255, 255, 255);
border-radius: 15px;
overflow: hidden;
backdrop-filter: blur(15px);
box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* Lado esquerdo - Formulário */
.card-left {
flex: 1;
padding: 40px 30px;
display: flex;
flex-direction: column;
justify-content: center;
}

.welcome h2 {
color: #22BDB6;
font-size: 2rem;
margin-bottom: 30px;
text-align: center;
}

/* Formulário */
.login-form {
display: flex;
flex-direction: column;
gap: 20px;
}

.input-group {
position: relative;
}

.input-group input {
  background-color: #EDF2F5;
  border: 2px solid #22BDB6;
  width: 100%;
  padding: 15px 45px 15px 15px;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  color: black;
}

.input-group input:focus {
box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
background-color: rgba(255,255,255,0.2);
/*color: #fff;*/
}

.input-group img {
position: absolute;
right: 15px;
top: 50%;
transform: translateY(-50%);
width: 20px;
height: 20px;
opacity: 0.7;
}

/* Botão de login */
.login-btn {
padding: 15px;
border: none;
border-radius: 10px;
background: #22BDB6;
color: white;
font-weight: bold;
font-size: 1rem;
cursor: pointer;
transition: all 0.3s ease;
}

.login-btn:hover {
background: #7fdcd7;
transform: translateY(-2px);
}

/* Lado direito - Imagem */
.card-right {
flex: 1;
background: #fff;
display: flex;
align-items: center;
justify-content: center;
}

.card-right img {
  margin: 20px;
  border-radius: 20px;
  box-shadow: 1px 2px 20px #0d4442;
  width: 85%;
  height: auto;
  object-fit: cover;
}

/* Responsividade */
@media (max-width: 900px) {
.main-card {
  margin-top: 100px;
flex-direction: column-reverse;
}

.card-right {
width: 100%;
padding: 20px;
}

.card-left {
padding: 30px 20px;
}
}

@media (max-width: 500px) {
.welcome h2 {
font-size: 1.5rem;
}

.input-group input {
padding: 12px 40px 12px 12px;
font-size: 0.9rem;
}

.login-btn {
padding: 12px;
font-size: 0.9rem;
}

.header img {
width: 120px;
}
}
